<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title HAHA
	body
		//- - var i = 0;
		//- - var j = 0;
		//- table
		//- 	while i < 10
		//- 		- i++
		//- 		tr
		//- 			each val in [1, 2, 3, 4, 5]
		//- 				th= val