<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Conway's Game of Life
	body
		h1 Conway's Game of Life (by Artis24106)
		.container
			#selectionArea
				input(type="text" placeholder="Input table size plz.")#gameInput.rounded-left
				button#gameBtn START
				button#resetBtn.rounded-right RESET
			#gameBoard
			h2#stepCount