$cell-size: 20px;
$cell-border-size: 0.1px;

body {
    width: 100%;
}
table {
    position: absolute;
    top: 0px;
    left: 0px;
}

table,
th,
td {
    border: $cell-border-size solid black;
    border-collapse: collapse;
}

th,
td {
    width: $cell-size;
    height: $cell-size;
    text-align: center;
}
